pydle>=1.1.0
peewee
pyyaml
httpx
lxml
parsedatetime
pycountry
whoosh
pillow
humanize
BeautifulSoup4
pure-sasl
docutils
tornado
twitter
pathlib
https://github.com/rfk/pyenchant/tarball/master#egg=pyenchant
textblob
ccy
pymediainfo
