git+https://github.com/Shizmob/pydle
peewee
pyyaml
requests
lxml
parsedatetime
pycountry
whoosh
pillow
humanize
BeautifulSoup4
pyzmq
pure-sasl
docutils
tornado
twitter
pathlib
git+https://github.com/rfk/pyenchant
textblob
